@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
  overscroll-behavior-y: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

.oneLineTitle {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}