@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* html {
    overflow: hidden;
    height: 100%;
}
  

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: none;
} */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

.oneLineTitle {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}